* {
  font-family: "Open Sans", sans-serif;
}

.fs-14 {
  font-size: 1em;
}

.fs-24 {
  font-size: 2em;
}

.card {
  border-radius: 12px;
}

.card-header {
  background-color: #F5F9FF !important;
}

.text-default {
  color: #0d365a;
}

.text-green {
  color: #01D167 !important;
}

.text-black {
  color: black !important;
}

.bg-btn {
  background-color: #325BAF;
}

.bg-default {
  background-color: #0d365a;
}

.bg-green {
  background-color: #01D167;
}

.bg-primary-light {
  background-color: #e5f5fd;
}

.bg-danger-light {
  background-color: #fcedf4;
}

.bg-success-light {
  background-color: #e5fbf7;
}

.sidebar {
  padding: 50px;
  height: 100vh;
}
.sidebar .description {
  color: white;
  opacity: 0.3;
  font-size: 16px;
}
.sidebar ul {
  padding-left: 10px;
}
.sidebar ul li {
  color: white;
  margin-top: 70px;
  font-size: 18px;
  text-decoration: none !important;
  list-style: none;
}
.sidebar ul li img {
  margin-right: 20px;
}

.main-content {
  padding: 50px;
}
.main-content .column1 {
  padding: 30px;
}
.main-content .column1 .card-body {
  padding: 15px !important;
}

.accordion .card-footer, .accordion .card-body {
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  border: none;
}

.accordion .card-header {
  border-radius: 12px;
  padding: 24px;
  border: none;
}
.accordion .card-body .transactions {
  padding-bottom: 20px;
  margin: 20px;
}
.icon-wrapper {
  width: 48px;
  height: 48px;
  border-radius: 50%;
}
.icon-wrapper img {
  margin: 16px;
}

.grey {
  color: #CCC;
}

a.nav-link {
  color: #222222 !important;
  opacity: 0.3;
  padding: 5px 0;
}

a.nav-link.active {
  color: #222222 !important;
  opacity: 1;
  border-bottom: 3px solid #59d4f9;
}

.ss {
  padding: 3px 10px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
  vertical-align: middle;
  margin-right: 10px;
}

.amount {
  font-weight: bold;
  font-size: 1em;
}

.credit.amount {
  color: #61d269;
}

.transaction-icon-wrapper {
  background-color: #325BAF;
  display: inline;
  border-radius: 15px;
}
.transaction-icon-wrapper img {
  margin: 0 3px 3px 6px;
}

.transaction {
  color: #325BAF;
}

.border-bottom {
  border-bottom: 1px solid #f0f0f0 !important;
}

.w-100 {
  width: 100%;
}

.card-options {
  border-radius: 15px;
  background-color: #EDF3FF;
}
.card-options > div {
  display: block;
}

.debit-card-options {
  margin-top: 5px;
  font-size: 14px;
}

.debit-card {
  padding: 27px;
  border-radius: 15px;
  color: white;
  text-align: left;
}
.debit-card .card-name {
  font-size: 1.4em;
  font-weight: bold;
  letter-spacing: 1px;
  margin: 24px 0;
}
.debit-card .cvv {
  font-size: 1.5em;
  vertical-align: middle;
}

.card-number {
  font-size: 2.4em;
  line-height: 0px;
}
.card-number input {
  background: transparent;
  border: none;
  color: white;
  height: 30px;
}

.bold {
  font-weight: 600;
  vertical-align: middle;
}

@media only screen and (max-width: 767px) {
  body {
    font-size: 85% !important;
    background-color: #325BAF;
    color: white;
    position: relative;
  }
  .xs-fixed {
    position: fixed;
    left: 15px;
    right: 15px;
    z-index: 1;
  }
  .mobile-logo {
    width: 20px;
    height: 20px;
    background-image: url("../images/logo-green.png");
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
  }
  .accordion {
    margin: 15px 0 30px 0;
  }
  .accordion .card-body {
    padding: 5px;
  }
  .accordion .card-body .transactions {
    padding: 5px;
    margin: 5px;
  }
  .sidebar {
    padding: 10px;
    height: 9vh;
    background-color: white;
  }
  .sidebar ul {
    padding: 0;
    display: flex;
    justify-content: space-around;
  }
  .sidebar ul li {
    margin: 0;
    font-size: 10px;
    display: inline-block;
    text-align: center;
    color: lightgray;
    filter: invert(0.2);
  }
  .sidebar ul li img {
    margin-right: 0;
    display: block;
    margin: auto;
    filter: grayscale(1);
  }
  .sidebar ul li span {
    margin-top: 5px;
    display: block;
  }
  .sidebar ul li:nth-child(2) {
    filter: none !important;
  }
  .left-menu-col {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    display: block !important;
    max-width: 100% !important;
    top: 91vh;
    box-shadow: 0px -2px 10px #ccc;
  }
  .left-menu-col .card-options {
    width: 100vw;
  }
  .carousal {
    margin-top: 26px;
  }
  .main-content {
    width: 100% !important;
    padding: 20px 0 0 0;
    background-color: #0d365a !important;
  }
  .main-content .column1 {
    padding: 0;
    background: transparent;
    margin-top: 20vh;
    border: 0;
  }
  .main-content .content {
    padding: 0;
  }
  .main-content .content .nav {
    margin: 12vh 0 0 0;
  }
  .main-content .content .nav .nav-link {
    color: lightgray !important;
  }
  .main-content .content .nav .nav-link.active {
    color: white !important;
  }
  .main-content .content .card.flat {
    margin: 45vh -15px -15px;
    z-index: 2;
  }
  .main-content .content .details {
    z-index: 2;
    margin-bottom: 30px !important;
  }
}
.debit-card {
  margin-bottom: 0;
  width: 100%;
}

ol.carousel__pagination {
  padding: 0;
  margin: 10px 0;
}/*# sourceMappingURL=custom.css.map */